*{
    padding: 0;
    margin: 0;
}
section{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 15%;
    height: 100vh;
    background-color: black; 
    margin-left: 1%;
    border: 1px solid rgb(49, 48, 48); 
}
.contenido{
    background-color: black;
    width: 84%;
    height: 100vh;

}
.encabezado{
    width: 96%;
    height: 25vh;
    margin: 1% 2%;
    background-image:  linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.0)),url(../img/img_sec1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1vw;
    border: 1px solid rgb(49, 48, 48);
    border-radius: 10px;
}

.encabezado .texto{
    width: 90%;
    height: 25vh;
    margin: 1% 3%;
    align-items: center;
    color: white;
}
.texto h1{
    font-size: 2.5vw;
    color: white;
}


.encabezado button{
    color: white;
    background-color: black;
    border: 1px solid rgb(47, 46, 46);
    height: 5vh;
    width: 15%;
    border-radius: 10px; 
}
.encabezado button:hover{
    background-color: rgb(214, 176, 7);
}

.seccion2{
    margin: 1% 2%;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    height: 30vh;
    
}

.seccion2 h1{
    font-size: 1.8vw;
    color: white;
    position: absolute;
}
.img{
    background-color: rgb(11, 11, 11);
    width: 50%;
    margin: 3% 0%;
    height: 25vh;
    background-image: url(../img/img_song.png);
    background-size: 100% 20vh;
    background-repeat: no-repeat;
    background-position-y: 40%;
    border: 1px solid rgb(47, 46, 46);
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.info{
    background-color: rgb(11, 11, 11);
    width: 50%;
    height: 25vh;
    margin-top: 3%;
    font-size: 1vw;
    padding-left: 2%;
    padding-top: 1%;
    color: white;
    border: 1px solid rgb(47, 46, 46);
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;


    
}


.info input{
    background-color: rgb(251, 239, 215);
    margin-top: 1.5%;
    border-radius: 5px;
    width: 34%;
    font-size: 0.9vw;
    color: darkgoldenrod;
    border: 1px solid darkgoldenrod;

}

.info h1{
    font-size: 1.5vw;
    color: white;
    position: relative;
    
}


.info .input{
    width: 80%;
    height: 4vh;
    
}


#producto{
    margin-left: 2%;
    width: 96%;
    
}
#producto h1{
    font-size: 1.8vw;
    color: white;
    float: left;
}

#producto .card{
    background-color: black;
    color: white;
    border: 1px solid  rgb(47, 46, 46);;
}
#producto a{
    background-color: rgb(222, 169, 33);
    border: 1px solid darkgoldenrod;
}
#producto .precio{
    color:rgb(222, 169, 33);;
}

.img-container {
  height: 200px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

    
    



