*{
    margin: 0;
    padding: 0;
    
}
section{
    background-color:black;
    display: flex;
    flex-wrap: wrap;
}
.header{
    width: 15%;
    height: 100vh;
    background-color: black; 
    margin-left: 1%;
    border: 1px solid rgb(49, 48, 48); 
}

.contenido{
    width: 84%;
}

.encabezado{
    margin: 1% 2%;
    width: 96%;
    height: auto;
    font-size:1vw;
    color: white;
    display: flex;
    flex-wrap: wrap;

}
.encabezado .texto{
    width: 40%;
    height: auto;
}
.encabezado .boton{
    height: auto;
    width: 60%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: end;
    
}
.encabezado .boton a{
    background-color: darkgoldenrod;
    border: darkgoldenrod;
}
.tabla{
    background-color:black;
    width: 96%;
    margin: 1% 2%;
    
}
.tabla .table th{
    background-color: rgb(15, 15, 15);
    border-collapse: collapse; 
    border: 1px solid rgb(23, 22, 22);
    color: white;
}
.tabla .table td{
    background-color: rgb(15, 15, 15);
    border-collapse: collapse; 
    border: 1px solid rgb(23, 22, 22);
    color: white;
}


